
  
.heading
{
    text-align: center;
  font-size: 50px;
}
.card-container
{
   
    width:100%;  
    background: rgb(240, 184, 184);
}
.mycards
{
    display: flex;
    width: 100%;
  
    overflow: scroll;

}
@media screen and (max-width:690px)
{
    .card-container
    {
        height: 100%;
        width:100%
    }
   .mycards
   {
       display: block;
       width: 100%;
       
   }
   
}
@media screen and (max-width:900px)
{
.card-container
{
    height: 100%;
    width:100%;
    
}
.mycards
{
    height: 100%;
    width:100%
}
}
@media screen and (max-width:1200px)
{
    .card-container
{
    height: 100%;
    width:100%;

}
.mycards
{
    height: 100%;
    width:100%
}
}