.mycard-container
{
    display: flex;
}
.cards
{
    align-items: center;
    justify-content: center;
    width:27vw;
    border-radius: 10px;
    background: rgb(15, 15, 15);
    margin:20px;
}
.cards:hover{
    box-shadow: 2px rgb(158, 133, 133);
}
.img-container
{
height: 100%;
}
.card-img
{
  height: 200px;

  object-fit: cover;
  border-radius: 18px;
  margin:5px;
}
.cardinfo
{
    text-align: center;
    color:whitesmoke;
}
.btn
{
    border:2px solid rgb(130, 143, 145);
  border-radius: 20px;
  display:block;
  margin:0 auto;
  padding:10px;
  margin-bottom:5px;
}
.btn:hover{
    background: rgb(10, 10, 10);
    color:white;
    font-size:15px;
    border:2px solid white;
}
@media screen and (max-width:690px)
{
   .cards
   {
     width: 100%;  
     height: 100%;
   }

}
@media screen and (max-width:900px)
{
    .cards{
        width: 100%;
    
    }
}