.body-img
{
    height: 400px;
    width: 350px;
    object-fit: cover;
    margin:30px;
    border-radius: 150px;
}
.card-container
{
    display: inline-flex;
}
.food-info
{
    float: left;
    margin-top:25vh;
    margin-left:10vw;
}
.img-container
{
   
    float: right;
}
.recipe-btn
{
    padding: 8px;
    width: 200px;
    border: 2px solid black;
    margin-left:20vw;
    border-radius: 20px;
    margin-top:10vh;
}
.div-container
{

    background: rgb(241, 240, 236);
    height: 90vh;
    width: 100%;
}