.body-img
{
    height: 400px;
    width: 350px;
    object-fit: cover;
    margin:30px;
    border-radius: 150px;
}
.card-container
{
    display: block;
}
.card-container p
{
float: left;
}
.img-container
{
   
    float: right;
}
.div-container
{

    background: rgb(235, 165, 16);
    height: 90vh;
    width: 100%;
}