.body-img
{
    height: 400px;
    width: 350px;
    object-fit: cover;
    margin:30px;
    border-radius: 150px;
}
.card-container
{
    display: inline-flex;
}
.food-info
{
    float: left;
    margin-top:15vh;
    margin-left:10vw;
}
.food-info h1
{
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food-info h2{
    font-size: 40px;
}
.img-container
{
   
    float: right;
}
.recipe-btn
{
    padding: 8px;
    width: 200px;
    border: 2px solid black;
    margin-left:20vw;
    border-radius: 20px;
    margin-top:9vh;
    cursor: pointer;
    font-size: 18px;
    color:whitesmoke;
    background: #000;
}
.recipe-btn:hover
{
    background: rgb(252, 247, 247);
    color:rgb(3, 3, 3)

}
.div-container
{

    background: rgb(241, 240, 236);
    height: 90vh;
    width: 100%;
}