.nav-img
{
    height: 8vh;
    object-fit: cover;
    margin:9px;
    border-radius: 28px;
    background: transparent;
}
.nav{
   

}
.navbar-container
{
    background: rgb(58, 56, 56);
height: 10vh;
display: flex;
}
ul
{
    display: inline-flex;
    margin: auto ;
}
 ul li{
     color:whitesmoke;
     list-style: none;
     padding:4px;
     margin:20px;
     font-size: 15px;
     cursor: pointer;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 ul li:hover{
     border-bottom: 2px solid whitesmoke;
 }

.fa-bars
{
    color:rgb(244, 244, 250);
    font-size: 20px;
}
.fa-times
{
    color:rgb(228, 232, 235);
    font-size: 20px;
}
.menu-logo
{
   
 margin:10px;
  

}