.wrapper
{
    background: rgb(233, 223, 223);
    margin-top:10px;
    width: 100%;
    height: 80vh;
}
.wrapper h2
{
    text-align: center;
    font-size: 30px;
}
.team{
    display:flex;
    justify-content: center;
}
.team-member
{  display: block;
    background: rgb(245, 238, 238);
    margin:15px;
    height: 40vh;
 
    border-radius: 20px;
    text-align: center;
    overflow: scroll;
    
}
.team-img
{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
 
}
.teaminfo p
{
    color:rgb(0, 0, 0);
    justify-content: center;
    
   overflow:hidden;
   margin:5px;
}
.contactus
{
   
    justify-content: center;
    text-align: center;
}
.contactus h3{
    text-align: center;
}
.contactus input
{
    padding:20px;
    width: 20vw;
    border: 2px solid black;
    border-radius: 40px;
}
.contactus button{
    padding:10px;
   
    border: 2px solid black;
    border-radius: 40px;
    margin:3px;
    background:black;
    color:whitesmoke;
}

/*footer*/
